<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="box px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Username & Password<br />
              <span class="text-primary">Policies</span>
            </h1>
              <ul>
                <li style="color: rgb(20, 20, 20)">Username should be of minimum of 4 characters in length.</li>
                <li style="color: rgb(20, 20, 20)">Password should be of minimum of 8 characters in length.</li>
                <li style="color: rgb(20, 20, 20)">Enter a valid Email address.</li>
                <li style="color: rgb(20, 20, 20)">Enter a valid Phone number.</li>
              </ul>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form [formGroup]="Form" (ngSubmit)="Submit()" method="post" action="http://localhost:7777/" >

                  <div class="form-outline mb-4">
                    <input type="text" class="form-control" formControlName="name" name="name"/>
                    <label class="form-label" for="form3Example1">User name</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" class="form-control" name="phno" formControlName="phoneno" />
                    <label class="form-label" for="form3Example2">Phone Number</label>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <input type="email" formControlName="email" class="form-control " name="email" />
                    <label class="form-label" for="form3Example3">Email address</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="password" class="form-control " name="password" formControlName="password" />
                    <label class="form-label" for="form3Example4">Password</label>
                  </div>

  
                  <!-- Submit button -->
                  <button type="submit" [disabled]="this.Form.invalid" class="btn btn-primary btn-block mb-4">
                    Sign up
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->