<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
<div class="container-fluid">
    <img src="assets/img/music2.jpg" style="width:100%;">
    <div class="centered">
      <div class="box">
        <div class="centered">
          <h4 style="font-family: 'Aboreto', cursive; font-size: 35px;font-weight: 600;line-height: 1.6;">“Music is the moonlight in the gloomy night of life.”</h4>
          <br><h4 style="font-family: 'Aboreto', cursive; font-size: 20px;font-weight: 400;line-height: 1; color: #00bfff;">-Jean Paul Friedrich Richter</h4><br>
          <div>
            <a routerLink="login"><button class="btn info" style="font-size: 15px;font-weight:400">Login</button></a>
            <a routerLink="register"><button class="btn info" style="font-size: 15px;font-weight:400">Signup</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>